<!DOCTYPE html> 
<html>
<head>
	<title>EAGLE Argumentation Tool Help</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<div data-role="page" id="Help">

	<div data-role="header">
		<h1>EAGLE Argumentation Tool - Help Page</h1>
	</div>
	
	<div role="main" class="ui-content">
	<p>To be written.</p>
	</div>

	<div data-role="footer" data-id="main-footer" data-position="fixed">
		<div data-role="navbar">
	  		<ul>
	    		<li><a href="/eagle-argumentation-tool/" class="ui-btn-active" data-icon="home">Home</a></li>
	   			<li><a href="/eagle-argumentation-tool/eval-help" data-icon="info">Help</a></li>
				<li><a href="/eagle-argumentation-tool/imprint" data-icon="info">Imprint</a></li>
	  		</ul>
		</div>
	</div>
</div>
</body>
</html>
