<!DOCTYPE html> 
<html>
<head>
	<title>EAGLE Argumentation Tool: New Case Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<div data-role="page" id="NewCaseForm">

	<div data-role="header">
		<h1>New Case Form</h1>
	</div>
	
	<div role="main" class="ui-content">
		{{$domain := .}}
		<form action="/eagle-argumentation-tool/new-case" enctype="multipart/form-data" target="_self" data-ajax="false" method="post">
			<input type="hidden" name="domainId" value="{{.Id}}"/>
			<label for="title">Title:</label>
			<input type="text" name="title" id="title" value=""/>
			<label for="citation">Citation:</label>
			<input type="text" name="citation" id="citation" value=""/>
			<label for="year">Year Decided:</label>
			<input type="text" name="year" id="year" value=""/>
			<label for="court">Court:</label>
			<input type="text" name="court" id="court" value=""/>
			<label for="majority">Author of Majority Opinion:</label>
			<input type="text" name="majority" id="majority" value="">
			<label for="minority">Author of Minority Opinion:</label>
			<input type="text" name="minority" id="minority" value=""/>
			<label for="keywords">Keywords:</label>
			<input type="text" name="keywords" id="keywords" value=""/>
			<label for="language">Language:</label>
			<input type="text" name="language" id="language" value=""/>
	
			<label for="description">Description:</label>
			<textarea name="description" id="description">
Describe the material facts of the case.
			</textarea>
			
			{{range $key, $dimension := .Dimensions}}
			<fieldset data-role="controlgroup">
				<legend>{{$dimension.Description}}:</legend>
				{{range $j, $factor := $dimension.Factors}}
				<input type="radio" name="{{$key}}" id="{{$factor}}" value={{$factor}} {{if eq $factor $dimension.Default }} checked="checked" {{end}} />
			  	<label for="{{$factor}}">{{$domain.FactorStatement $factor}}</label>
				{{end}}
			</fieldset>
			{{end}}
			
			<fieldset data-role="controlgroup">
				<legend>Case Decision:</legend>
				{{range $i, $option := .Options}}
				<input type="radio" name="decision" id="{{$option}}" value="{{$option}}"/>
			  	<label for="{{$option}}">{{$domain.FactorStatement $option}}</label>  
				{{end}} 
			</fieldset>
 

	
			<form>
			    <fieldset data-role="controlgroup" data-type="horizontal">
			        <input type="submit" value="Submit"/>
			    </fieldset>
			</form>
		</form>
	</div>

<!--
	<div data-role="footer" data-id="main-footer" data-position="fixed">
		<div data-role="navbar">
	  		<ul>
	    		<li><a href="/argumentation/" class="ui-btn-active" data-icon="home">Home</a></li>
	   			<li><a href="/argumentation/eval-help" data-icon="info">Help</a></li>
				<li><a href="/argumentation/imprint" data-icon="info">Imprint</a></li>
	  		</ul>
		</div>
	</div>
-->
</div> 
</body>
</html>
